:root {
  --pure-white: #ffffff;
  --primary-text-color: #757575;
  --main-text-color: #212121;
  --sec-title: #212121;
  --link-color: #057198;
  --bg-color: #f5f4fa;
  --bg-color-button: #057198;
  --icon-color: #afb1b8;
  --buttons-gradient: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  --border-radius: 4px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: var(--primary-text-color);
  background-color: var(--pure-white);
  letter-spacing: 0.03em;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  border-bottom: 3px solid #ececec;
  padding: 0 6px;
}

.header__helmet,
.nav,
.nav__list,
.nav__link,
.reg-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list .nav__link--active {
  color: var(--link-color);
}

.nav__item {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  color: #071d66;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.nav__link:hover, .nav__link:focus {
  color: var(--link-color);
}

.nav__link-padding-logo {
  padding: 5px 0;
}

.nav__link-padding {
  padding: 30px 0;
}

.nav__link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--link-color);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.nav__link:hover::after,
.nav__link:focus::after {
  display: block;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__link--active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--link-color);
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.contacts {
  background-color: #06071b;
  overflow: hidden;
}

@media screen and (min-width: 1280px) {
  .contacts--box {
    text-align: left;
    margin-right: 140px;
  }
}

.contacts--box::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 35px;
  background-color: rgba(0, 197, 235, 0.4);
  -webkit-filter: blur(51.5px);
          filter: blur(51.5px);
  -webkit-transform: rotate(-149.52deg);
          transform: rotate(-149.52deg);
  top: 88%;
  right: 31%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .contacts--box::before {
    width: 213px;
    height: 42px;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    top: 47%;
    right: 44%;
  }
}
@media screen and (min-width: 1280px) {
  .contacts--box::before {
    background: rgba(0, 197, 235, 0.3);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            transform: matrix(-1, 0, 0, 1, 0, 0);
    top: -15%;
    right: 79%;
  }
}

.contacts--box::after {
  content: "";
  position: absolute;
  width: 110px;
  height: 35px;
  background-color: rgba(125, 85, 255, 0.4);
  -webkit-filter: blur(51.5px);
          filter: blur(51.5px);
  -webkit-transform: rotate(-149.52deg);
          transform: rotate(-149.52deg);
  top: 98%;
  left: 51%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 6;
}
@media screen and (min-width: 768px) {
  .contacts--box::after {
    width: 130px;
    height: 42px;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    top: 54%;
    left: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .contacts--box::after {
    background: rgba(125, 85, 255, 0.3);
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    top: -23%;
    left: 17%;
  }
}

.contacts__title-mini {
  position: relative;
  z-index: 10;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .contacts__title-mini {
    font-size: 24px;
  }
}

.contacts__text {
  position: relative;
  z-index: 10;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  width: 280px;
  height: 51px;
}
@media screen and (min-width: 768px) {
  .contacts__text {
    width: 500px;
    height: 38;
    font-size: 16px;
    line-height: 1.18;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__text {
    margin-bottom: 20px;
  }
}

.contacts_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}
@media screen and (min-width: 1280px) {
  .contacts_social {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 20px;
  }
}

.contacts__list:not(:first-child) {
  margin-left: 14px;
}

.social-icon {
  border-radius: 50%;
  background-image: var(--buttons-gradient);
}
@media screen and (min-width: 1280px) {
  .social-icon {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.social-icon__main {
  -webkit-transition: 400ms;
  transition: 400ms;
}
@media screen and (min-width: 1280px) {
  .socials-link:hover .social-icon .social-icon__main {
    opacity: 0;
  }
}

.social-icon__hover {
  opacity: 0;
  -webkit-transition: 400ms;
  transition: 400ms;
}
@media screen and (min-width: 1280px) {
  .socials-link:hover .social-icon .social-icon__hover {
    opacity: 1;
  }
}

.contacts__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__link {
  text-decoration: none;
  font-style: normal;
  color: var(--primary-color-of-text);
}
.contacts__link:not(:last-child) {
  margin-bottom: 12px;
}

.contacts--phone {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.contacts--mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
}

.footer {
  z-index: 10;
  border-top: 1px solid var(--pure-white);
  background-color: #06071b;
}

.footer__text {
  padding-top: 22px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container--footer {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  br {
    display: none;
  }
}
.logo {
  margin-left: 10px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2;
  color: #057198;
}
.logo--head {
  color: #071d66;
  margin-left: 3px;
}
.logo--footer {
  color: var(--pure-white);
}/*# sourceMappingURL=main.css.map */