:root {
  --pure-white: #ffffff;
  --primary-text-color: #2a2a2a;
  --link-color: #057198;
  --bg-color: #f5f4fa;
  --icon-color: #afb1b8;
  --buttons-gradient: linear-gradient(90.03deg, #00c5eb -1.97%, #057198 89.43%);
  --border-radius: 4px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: var(--primary-text-color);
  background-color: var(--pure-white);
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.03em;
}

.cinzel {
  font-family: Cinzel, serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1280px;
  }
}
@media screen and (min-width: 1500px) {
  .container {
    max-width: 1500px;
  }
}

.section {
  padding-top: 22px;
  padding-bottom: 22px;
}

.header {
  border-bottom: 3px solid #ececec;
}

.header__helmet,
.nav,
.nav__list,
.nav__link,
.reg-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list .nav__link--active {
  color: var(--link-color);
}

.nav__item {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  color: #071d66;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.nav__link:hover, .nav__link:focus {
  color: var(--link-color);
}

.nav__link-padding-logo {
  padding: 5px 0;
}

.nav__link-padding {
  padding: 30px 0;
}

.nav__link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--link-color);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.nav__link:hover::after,
.nav__link:focus::after {
  display: block;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__link--active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--link-color);
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.reg-login {
  margin-left: auto;
}

.reg-login__button {
  border-radius: var(--border-radius);
}

.reg-login__button {
  position: relative;
  display: block;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  min-width: 181px;
  min-height: 42px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--pure-white);
  border: none;
  border-radius: var(--border-radius);
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
}
.reg-login__button::after, .reg-login__button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
}
.reg-login__button::before {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(-2%, #00c5eb), color-stop(90%, #057198));
  background-image: linear-gradient(90deg, #00c5eb -2%, #057198 90%);
  background-size: cover;
  background-repeat: no-repeat;
}
.reg-login__button::after {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: var(--border-radius);
  background-color: var(--pure-white);
  opacity: 0;
  -webkit-transition: 250ms;
  transition: 250ms;
}
.reg-login__button__text {
  position: relative;
  z-index: 10;
}
@media screen and (min-width: 1280px) {
  .reg-login__button:hover::after, .reg-login__button:focus::after {
    opacity: 1;
  }
}

.reg-login__button:hover,
.reg-login__button:focus {
  color: var(--link-color);
}

.reg-login__button--margin {
  margin-left: 22px;
}

.title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.filter-shop--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter {
  margin-right: 30px;
  min-width: 270px;
}

.filter__icon-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.filter__icon {
  margin-right: 10px;
}

.filter__title,
.filter-icon-title__title,
.shop__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.14;
}

.filter__title {
  margin-bottom: 20px;
}

.filter__list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

.filter__list > li,
.filter__secondary-list > li {
  margin: 10px 0 10px 33px;
}

.filter__list > li:first-child,
.filter__secondary-list > li:first-child {
  margin-top: 0;
}

.filter__secondary-list > li:last-child {
  margin-bottom: 20px;
}

.filter-icon-title__secondary-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.shop__title--position {
  text-align: end;
}

.shop__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .shop-list__item {
    margin: 0 auto 20px auto;
  }
}
.shop-list__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .shop-list__item {
    width: calc((100% - 20px) / 2);
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .shop-list__item:nth-child(2n) {
    margin-right: 0;
  }
  .shop-list__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .shop-list__item {
    width: calc((100% - 40px) / 3);
  }
  .shop-list__item:nth-child(2n) {
    margin-right: 20px;
  }
  .shop-list__item:nth-child(3n) {
    margin-right: 0;
  }
  .shop-list__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1500px) {
  .shop-list__item {
    width: calc((100% - 60px) / 4);
  }
  .shop-list__item:nth-child(2n) {
    margin-right: 20px;
  }
  .shop-list__item:nth-child(3n) {
    margin-right: 20px;
  }
  .shop-list__item:nth-child(4n) {
    margin-right: 0;
  }
  .shop-list__item:nth-last-child(-n+4) {
    margin-bottom: 0;
  }
}

.work-list-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 100%;
  padding: 0 15px 20px 15px;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.work-list-item__link:hover, .work-list-item__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-list-item__img {
  margin-left: auto;
  margin-right: auto;
}

.work-list-item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.work-list-item__text {
  font-size: 14px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #071d66;
}
@media screen and (min-width: 480px) {
  .work-list-item__text {
    font-size: 18px;
  }
}

.work-list__button--margin {
  margin-top: 20px;
}

.contacts {
  color: var(--pure-white);
  background-color: #06071b;
  overflow: hidden;
}

.contacts--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav--contacts {
  margin-bottom: 18px;
}

.contacts__title {
  color: var(--link-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
}
@media screen and (min-width: 768px) {
  .contacts__title {
    font-size: 20px;
    line-height: 1.18;
  }
}

.contacts--title {
  margin-bottom: 25px;
  padding: 0 19px;
}

.contacts__item {
  margin-top: 13px;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--pure-white);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--link-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: var(--pure-white);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.contacts__link:hover > .contacts__icon, .contacts__link:focus > .contacts__icon {
  fill: var(--link-color);
}

.contacts_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-icon {
  border-radius: 50%;
  background-image: var(--buttons-gradient);
}

.social-icon__main {
  -webkit-transition: 400ms;
  transition: 400ms;
}
@media screen and (min-width: 1280px) {
  .socials-link:hover .social-icon .social-icon__main {
    opacity: 0;
  }
}

.social-icon__hover {
  opacity: 0;
  -webkit-transition: 400ms;
  transition: 400ms;
}
@media screen and (min-width: 1280px) {
  .socials-link:hover .social-icon .social-icon__hover {
    opacity: 1;
  }
}

.reg-login__button--margin-footer {
  margin-top: 22px;
}

.footer {
  z-index: 10;
  border-top: 1px solid var(--pure-white);
  background-color: #06071b;
}

.footer__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.21;
  color: var(--pure-white);
}

.licence {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.14;
}

.licence > p,
.licence > h2 {
  margin-bottom: 10px;
  text-align: justify;
}

.licence > h2 {
  margin: 25px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.14;
}

.licence a {
  color: var(--link-color);
  text-decoration: underline;
  font-family: Cinzel, serif;
}

.licence li {
  list-style: disc;
  margin-bottom: 10px;
  margin-left: 34px;
}

.licence-margin {
  margin-top: 30px;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */ /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

.cras-company {
  font-family: Cinzel, serif;
}

.about-us {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.14;
}

.about-us--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us__title {
  margin: 25px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.14;
}

.about-us--reset {
  margin-bottom: 0;
}

.about-us p {
  margin-bottom: 10px;
  text-align: justify;
}

.about-us__slogan {
  margin-bottom: 40px;
  text-align: center;
}

.about-us__item {
  list-style: disc;
  margin-bottom: 10px;
  margin-left: 34px;
}

.about-us__edge li {
  list-style: disc;
  margin-bottom: 10px;
  margin-left: 34px;
}

.about-us--margin {
  margin-top: 40px;
}

.logo {
  margin-left: 10px;
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2;
  color: #057198;
}
.logo--head {
  color: #071d66;
  margin-left: 0;
}
.logo--footer {
  color: var(--pure-white);
  margin-left: 0;
}

.logo-reset {
  margin-left: 0;
}

.point {
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2;
  color: #eea91e;
}/*# sourceMappingURL=main.css.map */