.logo {
  margin-left: 10px;
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2;

  color: #057198;

  &--head {
    color: #071d66;
    margin-left: 0;
  }

  &--footer {
    color: var(--pure-white);

    margin-left: 0;
  }
}

.logo-reset {
  margin-left: 0;
}

.point {
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2;

  color: #eea91e;
}
