body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 999;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms var(--timing-function);

  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 54.5%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 300px;
  width: 100%;
  min-height: 550px;
  padding: 60px 20px 20px 20px;

  background-color: var(--pure-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);

  @media screen and (min-width: 480px) {
    max-width: 450px;
    padding: 75px 40px 30px 40px;

    background-size: contain;
  }

  @media screen and (min-width: 1024px) {
    max-width: 528px;
    min-height: 581px;
  }

  &--mobile-menu {
    min-height: 300px;
  }

  &--corrective {
    padding-top: 70px;
    padding-bottom: 30px;

    min-height: 333px;

    @media screen and (min-width: 480px) {
      padding-top: 80px;
    }
  }
}

.modal__form input::placeholder {
  font-size: 13px;
  font-weight: 600;

  @media screen and (min-width: 480px) {
    font-size: 16px;
    font-weight: 600;
  }
}
