:root {
  --pure-white: #ffffff;
  --primary-text-color: #757575;
  --main-text-color: #212121;
  --sec-title: #212121;
  --link-color: #057198;
  --bg-color: #f5f4fa;
  --bg-color-button: #057198;
  --icon-color: #afb1b8;

  --buttons-gradient: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);

  --border-radius: 4px;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
