:root {
  --pure-white: #ffffff;
  --primary-text-color: #2a2a2a;

  --link-color: #057198;
  --bg-color: #f5f4fa;

  --icon-color: #afb1b8;

  --buttons-gradient: linear-gradient(90.03deg, #00c5eb -1.97%, #057198 89.43%);

  --border-radius: 4px;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
