.filter-shop--flex {
  display: flex;

  position: relative;
}

.filter {
  width: 100vw;

  margin-right: 30px;
  padding-bottom: 20px;

  position: absolute;
  z-index: 100;

  background-color: var(--pure-white);

  transform: translate(-110%, 50px);
  transition: transform 666ms var(--timing-function);

  &.is-open {
    transform: translate(0, 50px);

    @media screen and (min-width: 1024px) {
      transform: translate(0);
    }
  }

  @media screen and (min-width: 1024px) {
    max-width: 275px;
    position:static;
    transform: translate(0);
  }
}

// // ----------------------------------------
// // Форма поиска
// // ----------------------------------------

.filter__form {
  margin-bottom: 20px;
}

.filter__search {
  display: flex;
  margin-top: 10px;
}

.filter__search input {
  padding: 0 13px;

  width: 220px;

  border: 2px solid var(--link-color);
  border-radius: var(--border-radius);
}

.filter__search input::placeholder {
  font-size: 14px;
}

.filter__icon-search {
  fill: var(--link-color);
}

// // ----------------------------------------
// // Меню поиска
// // ----------------------------------------

.filter__menu {
  cursor: pointer;
  position: relative;
  z-index: 50;

  overflow: hidden;
}

.filter__title,
.filter-icon-title__title,
.shop__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.14;
}

.filter__title {
  margin-bottom: 20px;
}

.filter__list,
.filter__secondary-list {
  position: absolute;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  transform: translateY(-150%);
  transition: transform 1000ms var(--timing-function);

  background-color: var(--pure-white);
}

.filter-list__item {
  margin-left: 33px;
  padding: 10px;

  position: relative;
  z-index: 20;

  background-color: var(--pure-white);

  transition: transform 250ms var(--timing-function);

  &--padding {
    padding-bottom: 30px;
  }
}

.filter__secondary-menu {
  margin-left: 30px;
}

.filter__secondary-list > li {
  margin-left: 37px;
  padding: 10px;

  transition: transform 250ms var(--timing-function);
}

.filter__secondary-list .filter__tea-coffee {
  margin-left: 43px;
}

.filter__list > li:last-child {
  margin-bottom: -5px;
}

.filter-list__item:hover,
.filter-list__item:focus,
.filter__secondary-list > li:hover,
.filter__secondary-list > li:focus {
  color: var(--link-color);

  font-weight: 700;
  transform: translateX(13px);
}

.js-filter-list-open {
  transform: translateY(0);
  position: relative;
}

.filter-icon-title__secondary-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

// // ----------------------------------------
// // Иконки
// // ----------------------------------------

.filter__icon-title-box {
  display: flex;
  align-items: center;

  padding-bottom: 10px;

  position: relative;
  z-index: 40;

  background-color: var(--pure-white);
}

.filter__secondary-icon-title-box {
  display: flex;
  align-items: center;

  margin-left: 5px;

  position: relative;
  z-index: 100;

  background-color: var(--pure-white);
}

.filter__secondary-icon-title-box--margin {
  margin-left: 12px;
}

.filter__icon,
.filter__icon-open,
.filter__icon-secondary,
.filter__icon-secondary-open {
  margin-right: 10px;
}

.filter__icon-open,
.filter__icon-secondary-open {
  position: absolute;

  opacity: 0;
}

.icon--position-cofee {
  transform: translate(-0.5px, -0.5px);
}

.icon--position-wash {
  transform: translate(1px, 0.3px);
}

.icon--position-gigiena {
  transform: translate(-0.5px, -0.1px);
}

.js-icon-close {
  opacity: 0;
}

.js-icon-open {
  opacity: 1;
}
