.filter-shop--flex {
  display: flex;
}

.filter {
  margin-right: 30px;

  min-width: 270px;
}

// ----------------------------------------
// Форма поиска
// ----------------------------------------

.filter__form {
  margin-bottom: 20px;
}

.filter__search {
  display: flex;
  margin-top: 10px;
}

.filter__search input {
  padding: 0 13px;

  width: 220px;

  border: 2px solid var(--link-color);
  border-radius: var(--border-radius);
}

.filter__search input::placeholder {
  font-size: 14px;
}

.filter__button {
  padding: 0;
  margin-left: 10px;

  border-style: none;

  background-color: var(--pure-white);

  cursor: pointer;
}

// ----------------------------------------
// Меню поиска
// ----------------------------------------

.filter__menu {
  margin-bottom: 5px;

  cursor: pointer;
  position: relative;
  z-index: 50;

  overflow: hidden;
}

.filter__icon-title-box {
  display: flex;
  align-items: center;

  position: relative;
  z-index: 40;

  background-color: var(--pure-white);
}

.filter__secondary-icon-title-box {
  display: flex;
  align-items: center;

  position: relative;
  z-index: 100;

  background-color: var(--pure-white);
}

.--margin {
  margin-left: 10px;
}

.filter__title,
.filter-icon-title__title,
.shop__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.14;
}

.filter__list,
.filter__secondary-list {
  position: absolute;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  transform: translateY(-150%);
  transition: transform 1000ms var(--timing-function);

  background-color: var(--pure-white);
}

.filter__secondary-menu {
  margin-left: 15px;
}

.filter-list__item {
  margin-left: 15px;
  padding: 10px;

  position: relative;
  z-index: 20;

  background-color: var(--pure-white);
}

.filter__secondary-list > li {
  margin-left: 15px;
  padding: 10px;
}

.filter__list > li:last-child {
  margin-bottom: -5px;
}

// ----------------------------------------
// Иконки
// ----------------------------------------

.filter__icon,
.filter__icon-open,
.filter__icon-secondary,
.filter__icon-secondary-open {
  margin-right: 10px;
}

.filter__icon-open,
.filter__icon-secondary-open {
  position: absolute;

  opacity: 0;
}

.icon--position-cofee {
  transform: translate(-0.5px, -0.5px);
}

.icon--position-wash {
  transform: translate(1px, 0.3px);
}

.filter__menu:hover .filter__icon,
.filter__menu:focus .filter__icon,
.filter__secondary-menu:hover .filter__icon-secondary,
.filter__secondary-menu:focus .filter__icon-secondary {
  opacity: 0;
}

.filter__menu:hover .filter__icon-open,
.filter__menu:focus .filter__icon-open,
.filter__secondary-menu:hover .filter__icon-secondary-open,
.filter__secondary-menu:focus .filter__icon-secondary-open {
  opacity: 1;
}

.filter__menu:hover .filter__list,
.filter__menu:focus .filter__list,
.filter__secondary-menu:hover .filter__secondary-list,
.filter__secondary-menu:focus .filter__secondary-list {
  transform: translateY(0);
  position: relative;
}

.filter-icon-title__secondary-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.filter__title {
  margin-bottom: 20px;
}

// ----------------------------------------
// Позиции магазина
// ----------------------------------------

.shop__title--position {
  text-align: end;
}

.shop__list {
  display: flex;
  flex-wrap: wrap;
}

.shop-list__item {
  padding: 0 15px 25px 15px;

  @media screen and (max-width: 480px) {
    margin: 0 auto 20px auto;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 20px) / 2);
    margin-right: 20px;
    margin-bottom: 20px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 2 * 20px) / 3);

    &:nth-child(2n) {
      margin-right: 20px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1500px) {
    width: calc((100% - 3 * 20px) / 4);

    &:nth-child(2n) {
      margin-right: 20px;
    }

    &:nth-child(3n) {
      margin-right: 20px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }

  transition: box-shadow 250ms var(--timing-function);
}

.shop-list__item:hover,
.shop-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-list-item__link {
  display: flex;
  flex-direction: column;
  text-align: center;

  height: 100%;
}

.work-list-item__img {
  margin-left: auto;
  margin-right: auto;
}

.work-list-item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}

.work-list-item__text {
  font-size: 14px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: #071d66;

  @media screen and (min-width: 480px) {
    font-size: 18px;
  }
}

.work-list__button--margin {
  margin-top: 20px;
}
