.filter-shop--flex {
  display: flex;
}

.filter {
  margin-right: 30px;

  min-width: 270px;
}

// ----------------------------------------
// Форма поиска
// ----------------------------------------

.filter__form {
  margin-bottom: 20px;
}

.filter__search {
  display: flex;
  margin-top: 10px;
}

.filter__search input {
  padding: 0 13px;

  width: 220px;

  border: 2px solid var(--link-color);
  border-radius: var(--border-radius);
}

.filter__search input::placeholder {
  font-size: 14px;
}

.filter__button {
  padding: 0;
  margin-left: 10px;

  border-style: none;

  background-color: var(--pure-white);

  cursor: pointer;
}

// ----------------------------------------
// Меню поиска
// ----------------------------------------

.filter__menu {
  cursor: pointer;
  position: relative;
  z-index: 50;

  overflow: hidden;
}

.filter__icon-title-box {
  display: flex;
  align-items: center;

  padding-bottom: 10px;

  position: relative;
  z-index: 40;

  background-color: var(--pure-white);
}

.filter__secondary-icon-title-box {
  display: flex;
  align-items: center;

  position: relative;
  z-index: 100;

  background-color: var(--pure-white);
}

.--margin {
  margin-left: 10px;
}

.filter__title,
.filter-icon-title__title,
.shop__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.14;
}

.filter__list,
.filter__secondary-list {
  position: absolute;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  transform: translateY(-150%);
  transition: transform 1000ms var(--timing-function);

  background-color: var(--pure-white);
}

.filter__secondary-menu {
  margin-left: 15px;
}

.filter-list__item {
  margin-left: 15px;
  padding: 10px;

  position: relative;
  z-index: 20;

  background-color: var(--pure-white);

  transition: transform 250ms var(--timing-function);
}

.filter-list__item--padding {
  padding-bottom: 30px;
}

.filter__secondary-list > li {
  margin-left: 15px;
  padding: 10px;

  transition: transform 250ms var(--timing-function);
}

.filter__list > li:last-child {
  margin-bottom: -5px;
}

.filter-list__item:hover,
.filter-list__item:focus,
.filter__secondary-list > li:hover,
.filter__secondary-list > li:focus {
  color: var(--link-color);

  font-weight: 700;
  transform: translateX(13px);
}

// ----------------------------------------
// Иконки
// ----------------------------------------

.filter__icon,
.filter__icon-open,
.filter__icon-secondary,
.filter__icon-secondary-open {
  margin-right: 10px;
}

.filter__icon-open,
.filter__icon-secondary-open {
  position: absolute;

  opacity: 0;
}

.icon--position-cofee {
  transform: translate(-0.5px, -0.5px);
}

.icon--position-wash {
  transform: translate(1px, 0.3px);
}

.icon--position-gigiena {
  transform: translate(-0.5px, -0.1px);
}

// .filter__menu:hover .filter__icon,
// .filter__menu:focus .filter__icon,
// .filter__secondary-menu:hover .filter__icon-secondary,
// .filter__secondary-menu:focus .filter__icon-secondary {
//   opacity: 0;
// }

// .filter__menu:hover .filter__icon-open,
// .filter__menu:focus .filter__icon-open,
// .filter__secondary-menu:hover .filter__icon-secondary-open,
// .filter__secondary-menu:focus .filter__icon-secondary-open {
//   opacity: 1;
// }

// .filter__menu:hover .filter__list,
// .filter__menu:focus .filter__list,
// .filter__secondary-menu:hover .filter__secondary-list,
// .filter__secondary-menu:focus .filter__secondary-list {
//   transform: translateY(0);
//   position: relative;
// }

.js-icon-close {
  opacity: 0;
}

.js-icon-open {
  opacity: 1;
}

.js-filter-list-open {
  transform: translateY(0);
  position: relative;
}

.filter-icon-title__secondary-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.filter__title {
  margin-bottom: 20px;
}
