.contacts {
  color: var(--pure-white);
  background-color: #06071b;

  overflow: hidden;
}

.contacts--flex {
  display: flex;
  justify-content: space-between;
}

.nav--contacts {
  margin-bottom: 18px;
}

.contacts__title {
  color: var(--link-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.18;
  }
}

.contacts--title {
  margin-bottom: 25px;
  padding: 0 19px;
}

// .contacts__list {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
// }

.contacts__item {
  margin-top: 13px;
}

.contacts__link {
  display: flex;
  align-items: center;

  color: var(--pure-white);

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--link-color);
  }
}

.contacts__icon {
  margin-right: 10px;

  fill: var(--pure-white);

  transition: fill 250ms var(--timing-function);

  .contacts__link:hover > &,
  .contacts__link:focus > & {
    fill: var(--link-color);
  }
}

.contacts_social {
  display: flex;
  justify-content: space-between;
}

.social-icon {
  border-radius: 50%;

  background-image: var(--buttons-gradient);
}

.social-icon__main {
  transition: 400ms;

  @media screen and (min-width: 1280px) {
    .socials-link:hover .social-icon & {
      opacity: 0;
    }
  }
}

.social-icon__hover {
  opacity: 0;
  transition: 400ms;

  @media screen and (min-width: 1280px) {
    .socials-link:hover .social-icon & {
      opacity: 1;
    }
  }
}

.reg-login__button--margin-footer {
  margin-top: 22px;
}

.footer {
  z-index: 10;

  border-top: 1px solid var(--pure-white);

  background-color: #06071b;
}

.footer__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.21;

  color: var(--pure-white);
}
