.header {
  border-bottom: 3px solid #ececec;
}

.header__helmet,
.nav,
.nav__list,
.nav__link,
.reg-login {
  display: flex;
  align-items: center;
}

.nav__list {
  // @media screen and (max-width: 767px) {
  //   display: none;
  // }

  // @media screen and (min-width: 768px) {
  //   margin-left: 88px;
  // }

  // @media screen and (min-width: 1200px) {
  //   margin-left: 92px;
  // }

  & .nav__link--active {
    color: var(--link-color);
  }
}

.nav__item {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;

  color: #071d66;

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--link-color);
  }
}

.nav__link-padding-logo {
  padding: 5px 0;
}

.nav__link-padding {
  padding: 30px 0;
}

.nav__link::after {
  content: "";
  display: block;
  position: absolute;

  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--link-color);

  transform: scaleX(0);
  transition: transform 250ms var(--timing-function);
}

.nav__link:hover::after,
.nav__link:focus::after {
  display: block;

  transform: scaleX(1);
}

.nav__link--active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;

  height: 4px;
  border-radius: 2px;
  background-color: var(--link-color);

  transform: scaleX(1);
}

.reg-login {
  margin-left: auto;
}

.reg-login__button {
  border-radius: var(--border-radius);
}

.reg-login__item {
  margin-left: 20px;
}

.primary {
  color: var(--pure-white);
  background-color: var(--bg-color-button);

  padding: 15px 30px;

  border: 2px solid var(--bg-color-button);
  border-color: transparent;
}

.secondary {
  color: var(--link-color);

  padding: 15px 65px;

  border: 2px solid var(--bg-color-button);
}

.form__button {
  position: relative;
  display: block;

  padding: 0;
  margin-left: auto;
  margin-right: auto;

  min-width: 181px;
  min-height: 42px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: #eea91e;

  border: none;
  border-radius: var(--border-radius);

  z-index: 10;

  overflow: hidden;
  cursor: pointer;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }

  &::before {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #00c5eb -2%, #057198 90%);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &::after {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: var(--border-radius);
    background-color: var(--pure-white);
    opacity: 0;
    transition: 250ms;
  }

  &__text {
    position: relative;
    z-index: 10;
  }

  @media screen and (min-width: 1280px) {
    &:hover::after,
    &:focus::after {
      opacity: 1;
    }
  }
}

.form__button--margin {
  margin-left: 22px;
}

// .title {
//   margin-bottom: 30px;

//   font-weight: 900;
//   font-size: 26px;
//   line-height: 1.62;
//   text-align: center;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;

//   @media screen and (min-width: 1200px) {
//     font-size: 44px;
//     line-height: 1.36;
//   }
// }

// .button {
//   margin-left: auto;

//   @media screen and (max-width: 767px) {
//     display: none;
//   }

//   @media screen and (min-width: 768px) {
//     display: flex;
//     align-items: left;
//   }

//   @media screen and (min-width: 1200px) {
//     display: flex;
//     align-items: center;
//   }
// }
