.licence > p,
.licence > h2 {
  margin-bottom: 10px;

  text-align: justify;
}

.licence > h2 {
  margin: 25px 0;
}

.licence a {
  color: var(--link-color);

  text-decoration: underline;

  font-family: Cinzel, serif;
}

.licence li {
  list-style: disc;

  margin-bottom: 10px;
  margin-left: 34px;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}
